@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.gooleapis.com/css?family=Poppins");
body {
  background-color: #f7e7ce;
  font-family: "Poppins", sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navlink {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink li {
    margin: 0 15px;
}

.navlink a {
    text-decoration: none;
    color: #d3af37;
    font-size: 18px;
}


.nav-visible ul {
    list-style-type: none;
    padding: 0;
}

.nav-visible li {
    margin: 10px 0;
}

.nav-visible a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.navlink:hover{
  color: black;
}

/* Responsive design */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navlink {
        display: none; /* Hide desktop nav on small screens */
    }
}
/** gallery*/
.container {
  position: relative;
  height: 500px;
  width: 700px;
  perspective: 500px;
  transform-style: preserve-3d;
}
.box {
  width: 440px;
  height: 440px;
  box-shadow: 0 0 10px #0000004d;
  border: 1px soild #bbb;
  border-radius: 25px;
  box-sizing: border-box;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  transition: 800ms ease-in-out;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
}
.box {
  left: 1000%;
}
.box:nth-of-type(6) {
  left: 40%;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-200px);
  opacity: 0;
  z-index: 2;
}
.box:nth-of-type(5) {
  left: 40%;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-200px);
  opacity: 0;
  z-index: 2;
}
.box:nth-of-type(4) {
  left: 35%;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-150px);
  opacity: 0.25;
  z-index: 2;
}
.box:nth-of-type(3) {
  left: 30%;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-100px);
  opacity: 0.5;
  z-index: 5;
}
.box:nth-of-type(2) {
  left: 25%;
  color: #eee;
  transform: translate(-50%, -50%) rotateY(-10deg) translateZ(-50px);
  opacity: 0.75;
  z-index: 10;
}
.box:first-of-type {
  left: 40%;
  transform: translate(-50%, -50%) rotateY(-10deg);
  opacity: 0;
  z-index: 5;
}
/*contact*/
.contact{
  border:1px solid #d3af37;
  color: #652a0e;
  display: flex;
  flex-wrap: wrap;
}
.contact a {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: #d3af37;
}


/* Sub*/
.sub {
  color: #b09b8c;
  font-family: "Times New Roman", Times, serif;
}
.category {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}
.sub .female a {
  color: #fc46aa;
  text-decoration: none;
}
.sub .arab a {
  color: #652a0e;
  text-decoration: none;
}
.sub .male a {
  color: #0a1172;
  text-decoration: none;
}

/*cart*/
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: no-wrap;
  background-color: #eee1cb;
}
#cart table thead {
  border: 1px solid #d3af37;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: #fc46aa;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 40px;
  padding: 10px 5px 10px 5px;
  border: 1px solid #d3af37;
  background: transparent;
  color: #0a1172;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#cart-add .coupon {
  width: 50%;
  margin-bottom: 30px;
}
#cart-add .total h3 {
  padding-bottom: 15px;
}
.coupon input {
  padding: 10px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #d3af37;
}
#cart-add button {
  background-color: #d3af37;
  color: #000;
  padding: 12px 20px;
  cursor: pointer;
}
.total {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #d3af37;
  padding: 20px;
}
.total table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.total table td {
  width: 50%;
  border: 1px solid #d3af37;
  padding: 10px;
  font-size: 13px;
}

/*Scroll*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #fcbacb;
}
::-webkit-scrollbar-track {
  background: linear-gradient(#fffaf0, #b09b8c, #f7e7ce);
}
